{% extends 'Base.html' %}

{% block title %} Sobre {% endblock title %}

{% block content %}

<div class="container">
    <blockquote class="blockquote text-center">
        <p></p>
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p class="mb-0">Para implementação de novas funções e funcionalidades na plataforma</p>
                <p class="mb-0">Entre em contato com 81 9 95254581 WhatsApp, ou pelo E-mail jorgelucasalima@gmail.com</p>        
        </div>
    </blockquote>
</div>


{% endblock content %}